{% extends "base.jinja" %} {% import "bootstrap/wtf.html" as wtf %}



{% block title %}
CM - Course
{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>
    {% if course_data %}
    Edit User
    {% else %}
    Create User
    {% endif %}
  </h1>
</div>
<div class="col-md-4">
  {{ wtf.quick_form(form) }}</div>
{% endblock %}