{% extends "base.jinja" %} {% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">

  <h1>
    Hello,
    {% if current_user.is_authenticated %}
    {{current_user.data["userName"]}}
    {% else %}
    anon
    {% endif %}
    {% if current_user.is_authenticated%} the {{current_user.data["type"]}} {% endif %}
  </h1>
</div>

{% endblock %}